/*
logo组件中样式表
*/
.none{
display:none;}
.top {
	width: 100%;
	background: #fff;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;}
.top-r ul li{
float: left; width: 50px; text-align: center;}


.header {
    width: 100%;
    height: 125px;
	background:#FAFAFA;
    border-bottom: 1px solid #ccc;}

.header .hnpi-logo img{
margin:15px 0 0 10px;}

.linSea {
    width: 297px;
    height: 50px;
    margin: 20px 0 0 0;}

.nav {
    height: 90px;
    background: #314F98;}


.con1{
	height: 460px;}
h2.t{
	height: 50px;
	line-height: 50px;
	color: #324C96;
	font-size:18px;
padding:0 0 0 20px;
	background:url(images/h-bg.jpg) no-repeat 5px 50%;}
.kslj{
    width: 260px;}

.kslj ul li{
	height:60px;
	line-height: 60px;
	margin:16px 0 0 0;
background:url(images/kslj-ra.png) no-repeat 50% 50%;}
.kslj ul li a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);}
.kslj ul li a{
	display: block;
	height:60px;
	line-height: 60px;
	font-size: 18px;
	color:#0058A0;
text-indent: 2.7em;}

.kslj ul li img{
	margin: 13px 20px 0 0;}


.xyxw{
    width: 900px;
    height: 430px;}



.con-rdzt{
    height: 460px;
    background: #f3f3f3;
    padding: 20px 0;}
.con-rdzt-l{
    width: 570px;
    height: 470px;}
.con-rdzt-r{
    width: 610px;}
h2.t a{
    font-size: 12px;
    color:#324C96;}
.con-rdzt ul li{
    height: 35px;
    line-height: 35px;
    padding:0 0 0 15px;
    background:  url(images/quan-2.jpg)   no-repeat 0 50%;}
.con-rdzt ul li a{
    font-size: 16px;
    float: left;}
.con-rdzt ul li span{
    
    float: right;}
.xyfg{
    height: 240px;
    padding: 15px 0;}
.b-nav{

    height: 295px;
    background: #314F98;}
.con-bq{
    height: 160px;
    background: #000;}
.con-bq .l{
    width: 835px;
 margin: 25px 0 0 0;}
.con-bq .l p{
	line-height:30px;
color:#fff;}
.con-bq .l p a{
color:#fff;}

.con-bq .l p a img{
margin: 5px 5px 0 0;}

.con-bq .r{
    width: 290px;}

.n_left h2{
	background: #314f98;}
.n_left .n_nav li a.cur,
.n_left .n_nav li a:hover{
	color: #314f98;
	text-decoration: underline;}

.n_tit{
	border-bottom: 1px solid #314f98;
	font-size: 14px;}
.n_tit a:hover {
    color: #314f98;
    text-decoration: underline;}

.pb_sys_style1 .p_no_d {
    border: 1px solid #cccccc!important;
    color: #fff;
    background-color: #314f98!important;}



.scale-img {
    display: block;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;}



.scale-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);}

#vsb_content_4 IMG {
border:none!important;}
.hnpi-nav-yj a{
    font-size: 20px;
    color: #fff;
    height:40px;
    line-height:40px;}

.hnpi-nav-yj-zs{
font-size:12px;
height:20px;
line-height:15px;
color:#ccc;
margin:5px 0 0 0 ;}
.innav ul li {
    height: 90px;
    width: 122px;
    line-height: 40px;
color:#fff;}
.innav ul li a {
    color: #ffffff;
    font-size: 20px;}
.innav ul li:hover {
    background: #fff!important;
    color: #a9a9a9;}
.innav ul li > a{
    color: #fff;}

.innav ul li > a:hover{
    color: #000;}
.se-line{
width:1px!important;
padding:0 0px!important;}
.se-line img{
height:90px;}

#nav{margin-top: 25px;}

#nav-ul dl{
display:none;}

#nav-ul dl{
background:#314f98;
margin: 25px 0 0 0;}
#nav-ul dl a{
font-size:14px;}
.cur .hnpi-nav-yj{
color:#000;}

.innav .act{
background:#fff;}

.innav .act a.link {
    color: #000;}
.slideBox {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;}
.slideBox .bd li a {
    display: block;
    height: 380px;}.slideBox3 .hd {
    overflow:hidden;
    position:absolute;
    bottom:20px;
    z-index:1;
    left: 50%;
    margin-left: -54px;}
.slideBox3 .hd ul {
    overflow:hidden;
    zoom:1;
    float:left;}
.slideBox3 .hd ul li {
    float:left;
    margin: 0 5px;
    width: 26px;
    height: 5px;
    text-align: center;
    background: #aaa;
    cursor: pointer;}
.slideBox3 .hd ul li.on {
    background: #fff;}
.slideBox3 .prev,
.slideBox3 .next {
    margin-top: -22px;
    width: 44px;
    height: 44px;
    background: url(../images/arrow1.png) 0 0 no-repeat;}
.slideBox3 .next {
    background-position: right 0;}
.titlestyle190788{ font-size: 14px; text-decoration: none; font-weight: bold; color: #222222; line-height: 220% ;}
.summarystyle190788{ line-height: 150%; color: #222222; font-size: 9pt ;}

.l-con{width: 1200px;border-left: 1px solid #466ebd;height: 225px;margin: 30px 0 0 0;}

.l-con dl{width: 190px;float: left;border-right: 1px solid #466ebd;text-align: center;height: 225px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;}
.l-con dt{font-size: 16px;color: #dcdcdc;height: 30px;line-height: 30px;overflow: hidden;margin-bottom: 8px;}
.l-con  dl a{display: block;height: 30px;line-height: 30px;overflow: hidden;color:#dcdcdc;padding-left: 10px;}
.l-con  dl a:hover{color: #fff;}
.closestyle193710{ font-size:12px;color:#333333;text-decoration: none ;}

.closestyle193810{ font-size:12px;color:#333333;text-decoration: none ;}

